<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="inline-flex items-center">
      <h1 class="text-4xl -m-4 px-4 py-8">My Templates</h1>
      <div><%= link_to "+ New", new_template_path, class: "ml-4 inline-flex text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg"%></div>
    </div>
    <div class="flex flex-wrap -m-4">
      <% @templates.each do |template| %>
        <div class="p-4 md:w-1/3 w-full">
          <div class="h-full items-center border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <div class="bg-indigo-300/10 p-6">
              <%= image_tag template.template_file, :class => "h-64 object-scale-down mx-auto shadow-lg" unless template.template_file.nil? %>
            </div>
            <div class="p-6">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><%= template.title %></h1>
              <p class="leading-relaxed mb-3"><%= template.description %></p>
              <p>Created by <%= template.creator.first_name %></p>
              <div class="flex items-center flex-wrap ">
                <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">
                  <%= link_to "Open", template_path(template) %>
                </a>
                <% if template.creator == current_user %>
                <a class="px-2"><%= link_to "Edit", edit_template_path(template) %></a>
                <a class="px-2"><%= button_to "Delete", template_path(template), method: :delete, class: "btn btn-danger" %></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>